<html>
<head>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      var socket = io.connect('http://localhost:3000');

      socket.on('entrance', function(data) {
        $('#chatlog').append('<p>' + data.message + '</p>');
      });

      socket.on('exit', function(data) {
        $('#chatlog').append('<p>' + data.message + '</p>');
      });

      socket.on('chat', function(data) {
        $('#chatlog').append('<p>' + data.message + '</p>');
      });


      // chat box
      $('#chatbox').keypress(function(event) {
        if (event.which == 13) {
          socket.emit('chat', { message: $('#chatbox').val() });
          $('#chatbox').val('');
        }
      });

    });
  </script>
</head>
<body>
  <textarea id="chatbox"></textarea>
  <div id="chatlog"></div>
</body>
</html>
